*{
    margin: 0;
    padding: 0;
    font-family: "Cormorant";
}

body{
        background: #fff;
}

.logo{
        width: 100%;
margin-left: 50%;
     font-size: 100px;
    font: 900;
    margin: 20px;
}

div{
   width: 100%;
   justify-items: center;
} 

nav{
    position: fixed;
    bottom: 0;
    justify-items: center;
    padding: 22px;
    margin-bottom: 30px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    font-size: 24px;
    font: 400;
 border: 2px solid black;
}

.nav-links{
    background: transparent;
    display: flex;
    gap: 20px;
    list-style: none;
}

li{
    background: transparent;
}

a{
    text-decoration: none;
    color: black;
}

.nav-action{
    align-content: center;
    background: #000;
    height: 45px;
    padding-inline: 15px;
    border-radius: 12px;
}

.nav-action a{
    color: white;
}
.monoton-regular {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
